.info_films{
    line-height: 30px;
    height: 30px;
    font-size: 18px
}
.imgPoster{
    height: 465px !important;
    display: block;
    max-width: 100%
}
.videoTrailer{
    border: 1px solid red;
    height: 465px
}

