.footerContainer{
    margin-top: 20px
}
.footerInfomation{
    height: 100px;
    line-height: 25px;
    background: gainsboro;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
}