/* index.js */ /* search.js */ /* bookmark */
.title_films{
    cursor: pointer;
    font-weight: bold
}
/* detail.js */
.info_films{
    line-height: 30px;
    height: 30px;
    font-size: 18px
}
/* bookmark */ /* search.js */
.poster{
    height: 350px;
    width: 250px;
    cursor: pointer
}

/* Componet Header */
.footer{
    height: 100px;
    line-height: 25px;
    background: gainsboro;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
}